{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ajouter une voiture ✅</h1>

       <form action='{{path('ajout_car')}}' method='POST'>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" name="matricule" class="form-control" placeholder="matricule">
    </div>
    <div class="col-sm-10">
      <input type="text" name="marque" class="form-control" placeholder="marque">
    </div>
    <div class="col-sm-10">
      <input type="text" name="couleur" class="form-control" placeholder="Couleur">
    </div>
    <div class="col-sm-10">
      <input type="text" name="carburant" class="form-control" placeholder="Carburant">
    </div>
    <div class="col-sm-10">
      <input type="text" name="nbrPlace" class="form-control" placeholder="NbrPlace">
    </div>
    <div class="col-sm-10">
      <input type="text" name="description" class="form-control" placeholder="Description">
    </div>  
    <div class="col-sm-10">
      <input type="text" name="disponibilite" class="form-control" placeholder="Disponibilité">
    </div>  
    <div class="col-sm-10">
      <input type="text" name="datemiseencirculation" class="form-control" placeholder="datemiseencirculation">
    </div>  
     <div class="col-sm-10">
      <input type="text" name="idAgence" class="form-control" placeholder="idAgence">
    </div> 
    <button type="submit" class="btn btn-primary">envoyer</button>
  </div>
</form>
    <a href={{ path('admin') }}>Home<a>
</div>
{% endblock %}
